# Created by .ignore support plugin (hsz.mobi)
inputs/*
inputs/resources.txt
!inputs/nsx_mylab.yml
!inputs/pe_primary_mylab.yml
!inputs/pe_secondary_mylab.yml

.idea/*

alarms.txt
.idea/
__pycache__/


