<appliances>
<appliance>
<resourcePoolId>{{p_resourcePoolId}}</resourcePoolId>
<datastoreId>{{p_datastoreId}}</datastoreId>
</appliance>
<appliance>
<resourcePoolId>{{s_resourcePoolId}}</resourcePoolId>
<datastoreId>{{s_datastoreId}}</datastoreId>
</appliance>
</appliances>
