<bgp>
<enabled>true</enabled> <!-- Optional. Default is false -->
<localAS>{{bgp.localAS}}</localAS> <!-- Valid values are : 1-65534 -->
<bgpNeighbours>
<bgpNeighbour>
<ipAddress>{{bgp.neighbor}}</ipAddress> <!-- IPv4 only. IPv6 support not supported -->
<remoteAS>{{bgp.remoteAS}}</remoteAS> <!-- Valid values are 0-65535 -->
<weight>60</weight> <!-- Optional. Default is 60. Valid values are 0-65535 -->
<holdDownTimer>15</holdDownTimer> <!-- Optional. Default is 180 seconds. Valid values are : 2-65535. -->
<keepAliveTimer>5</keepAliveTimer> <!-- Optional. Default is 60 seconds. Valid values are : 1-65534. -->
<password>{{bgp.bgp_md5}}</password> <!-- Optional -->
<bgpFilters>
<bgpFilter>
<direction>out</direction>
<action>deny</action>
<network>0.0.0.0/0</network>
</bgpFilter>
{% for item in redistrib %}
<bgpFilter>
<direction>out</direction>
<action>permit</action>
<network>{{item.route}}</network>
</bgpFilter>
{% endfor %}
</bgpFilters>
</bgpNeighbour>
</bgpNeighbours>
<redistribution>
<enabled>true</enabled> <!-- Optional. Defaults to false. -->
<rules>
<rule>
<id>0</id>
<from>
<isis>false</isis> <!-- Optional. Defaults to false -->
<ospf>false</ospf> <!-- Optional. Defaults to false -->
<bgp>false</bgp> <!-- Optional. Defaults to false -->
<static>true</static> <!-- Optional. Defaults to false -->
<connected>false</connected> <!-- Optional. Defaults to false -->
</from>
<action>permit</action> <!-- Mandatory. Valid values are deny|permit -->
</rule>
</rules>
</redistribution>
<gracefulRestart>true</gracefulRestart>
<defaultOriginate>false</defaultOriginate>
</bgp>
