<edge>
<datacenterMoid>datacenter-2</datacenterMoid>
<name>TEST01</name>
<tenant>Default</tenant>
<vseLogLevel>emergency</vseLogLevel>
<appliances>
<applianceSize>xlarge</applianceSize>
<appliance>
<resourcePoolId>domain-c208</resourcePoolId>
<datastoreId>datastore-184</datastoreId>
</appliance>
</appliances>
<vnics>
<vnic>
<index>0</index>
<name>internal0</name>
<type>internal</type>
<portgroupId>virtualwire-4</portgroupId>
<addressGroups>
<addressGroup>
<primaryAddress>192.168.3.1</primaryAddress>
<subnetMask>255.255.255.0</subnetMask>
</addressGroup>
</addressGroups>
<isConnected>true</isConnected>
</vnic>
<vnic>
<index>1</index>
<name>external0</name>
<type>uplink</type>
<portgroupId>dvportgroup-203</portgroupId>
<addressGroups>
<addressGroup>
<primaryAddress>192.168.4.1</primaryAddress>
<subnetMask>255.255.255.0</subnetMask>
</addressGroup>
</addressGroups>
<isConnected>true</isConnected>
</vnic>
</vnics>
<cliSettings>
<userName>admin</userName>
<password>Dotgamedraggoal#1</password>
<remoteAccess>true</remoteAccess>
</cliSettings>
</edge>
