<edge>
<datacenterMoid>{{datacenterMoid}}</datacenterMoid>
<name>{{name}}</name>
<tenant>Default</tenant>
<vseLogLevel>emergency</vseLogLevel>
<appliances>
<applianceSize>compact</applianceSize>
<appliance>
<highAvailabilityIndex>0</highAvailabilityIndex>
<resourcePoolId>{{p_resourcePoolId}}</resourcePoolId>
<datastoreId>{{p_datastoreId}}</datastoreId>
</appliance>
{# This is needed for HA #}
{% if s_resourcePoolId is defined and s_datastoreId is defined %}
<appliance>
<highAvailabilityIndex>1</highAvailabilityIndex>
<resourcePoolId>{{s_resourcePoolId}}</resourcePoolId>>
<datastoreId>{{s_datastoreId}}</datastoreId>
</appliance>
{% endif %}
</appliances>
<vnics>
<vnic>
<index>0</index>
<name>Uplink</name>
<type>uplink</type>
<portgroupId>{{dvswitchpg}}</portgroupId>
<addressGroups>
<addressGroup>
<primaryAddress>{{uplink['address']}}</primaryAddress>
<subnetMask>{{uplink['netmask']}}</subnetMask>
</addressGroup>
</addressGroups>
<isConnected>true</isConnected>
</vnic>
<vnic>
<index>1</index>
<name>Interconnect-CE</name>
<type>internal</type>
<portgroupId>{{lswitch}}</portgroupId>
<addressGroups>
<addressGroup>
<primaryAddress>{{interconnect['address']}}</primaryAddress>
<subnetMask>{{interconnect['netmask']}}</subnetMask>
</addressGroup>
</addressGroups>
<isConnected>true</isConnected>
</vnic>
</vnics>
<cliSettings>
<userName>{{username}}</userName>
<password>{{passw}}</password>
<remoteAccess>true</remoteAccess>
</cliSettings>
</edge>

