<highAvailability>
<declareDeadTime>6</declareDeadTime> <!-- Optional. Default is 6 seconds -->
<enabled>true</enabled> <!-- optional, defaults to true. The enabled flag will cause the HA appliance be deployed or destroyed. -->
</highAvailability>

