<virtualWireCreateSpec>
<name>{{lswitchname}}</name>
<description></description> <!-- Optional -->
<tenantId>virtual wire tenant</tenantId>
<controlPlaneMode>UNICAST_MODE</controlPlaneMode>
<guestVlanAllowed>true</guestVlanAllowed>
</virtualWireCreateSpec>
